@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;800&display=swap');

/********** GENERAL **********/

*{
    font-family: 'Poppins';
    font-weight: 300;
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

h1{
    font-weight: 600;
}

h2{
    font-weight: 500;
    padding-top: 50px;
}

a {
    text-decoration: none;
    color: black;
    transition: 200ms;
}



/********** NAVBAR **********/

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    background-color: white;
    padding: 20px 20px;
}

.nav-logo a {
    font-size: 20px;
    font-weight: 800;
}

nav a{
    margin : 0px 15px;
    color : black;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: white;
    position: relative;
    display: none;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: black;
    margin: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: white;
    color: white;
    font-weight: 600;
  }

  @media screen and (max-width: 1200px) {
    nav {
        display: none;
    }

    .topnav {
        display: block;
    }
}
/***** CONTENU *****/

.contenu{
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    min-height: 100vh;

}


.h2-contenu{
    text-align: center;
}

.p-count{
    margin-bottom: 20px;
}
/***** LIST ACTEURS ****/

.double-button {
    display: flex;
    justify-content: center;
    gap: 30px;
}
/**** DETAIL FILM ****/

.affiche-film {

    display: block;
    height: auto;
    width: 100%;
    max-width: 350px;
    margin-bottom: 30px;
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.detail a:hover{
    color: white;
}

/****ENTETE****/

.entete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/**** TABLE ******/

table {
    margin: 50px 20px 0px 20px;
    border-collapse: collapse;  
}

table a:hover{
    color: white;
}

th, td {
 border: 1px solid black;
 padding: 10px;
}

.table {
    display: flex;
    justify-content: center;
}

th {
    font-weight: 600;
    background: #75e9d5
    
}


/**** FORMULAIRE *****/


#togg1, #togg2 {
    padding: 10px;
    border-radius: 7px;
    border: 0px;
    transition: 0.5s;
    background: white;
}

#togg1:hover,#togg2:hover{
    opacity: 0.8;
    transform: translateY(-10px);

}

.form-add-film {
    display: none;
    padding: 20px;

}



  

