@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;800&display=swap');

/********** GENERAL **********/

*{
    font-family: 'Poppins';
    font-weight: 300;
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

h1{
    font-weight: 600;
}

h2{
    font-weight: 500;
    padding: 20px 0px;
}

a {
    text-decoration: none;
}

/********** NAVBAR **********/

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    background-color: white;
    padding: 20px 20px;
}

.nav-logo p {
    font-size: 20px;
    font-weight: 800;
}

nav a{
    padding : 0px 15px;
    color : black;
}

/***** CONTENU *****/

.contenu{
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    min-height: 95vh;

}

.p-count{
    padding-bottom: 20px;
}


/**** TABLE ******/

/**** FORMULAIRE *****/





  
  
  

